// - Regular CSS - Desktop First approach - //
//variables
@import "../../variable.scss";

.footer {
  font-size: 1rem;
  line-height: 1.6rem;
  position: relative;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-content: flex-end;
  z-index: 20;
  background-color: $brand-color-1;
  @include responsive(phone) {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .footer-logo-1 {
    max-width: 420px;
    @include responsive(tablet) {
      max-width: 100%;
    }
    @include responsive(phone) {
      max-width: 100%;
    }
  }
  .footer-logo-2 {
    max-width: 140px;
    @include responsive(tablet) {
      max-width: 100%;
    }
    @include responsive(phone) {
      max-width: 100%;
    }
  }
  a {
    color: $brand-color-3;
  }
}
