// - Regular CSS - Desktop First approach - //
//variables
@import "../../variable.scss";

.footer {
  font-size: 1rem;
  line-height: 1.6rem;
  position: relative;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-content: flex-end;
  z-index: 20;

  @include responsive(phone) {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .footer-logo {
    max-width: 200px;
  }
  a {
    color: $brand-color-3;
  }
}
