<div class="breadcrum" *ngIf="breadcrum">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <img
          src="../../assets/img/img-share-web.png"
          alt=""
          class="img-fluid share-logo mt-4"
        />
      </div>
      <div class="col-6">
        <div class="status-page z-i5">
          <div class="image" [ngClass]="image1active">
            <div class="image-1"></div>
            <div class="title">YOUR DETAILS</div>
          </div>
          <div class="borde"></div>
          <div class="image" [ngClass]="image2active">
            <div class="image-2"></div>
            <div class="title">SPEND DETAILS</div>
          </div>
          <div class="borde"></div>
          <div class="image" [ngClass]="image3active">
            <div class="image-3"></div>
            <div class="title">ENTER DRAW</div>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
