// - Regular CSS - Desktop First approach - //
//variables
@import "../../../variable.scss";
.winner-page {
  .winner-container {
    max-width: 850px;
    margin: 0 auto;
    .winner-head {
    }
    .winner-text {
      font-size: 2rem;
      line-height: 2.6rem;
    }
    .winner-text-1 {
      font-size: 1.4em;
      line-height: 1.9rem;

      @include responsive(phone) {
        line-height: 1.1em;
        font-size: 1.6em;
      }
    }
    .winner-text-2 {
      font-size: 1.2rem;
      line-height: 1.7rem;
      @include responsive(phone) {
        font-size: 1.1rem;
        line-height: 1.7rem;
      }
    }
    .winner-text-3 {
      font-size: 1rem;
      line-height: 1.6rem;
      @include responsive(phone) {
        font-size: 0.9rem;
        line-height: 1.4rem;
      }
    }
    .winner-text-4 {
      font-size: 0.9rem;
      line-height: 1.5rem;
      @include responsive(phone) {
        font-size: 0.8rem;
        line-height: 1.3rem;
      }
    }
    a {
      color: #ffffff;
      &:hover {
        color: #ffffff;
      }
    }
  }
}
