//variables
@font-face {
  font-family: "Larsseit Regular";
  src: url("/assets/font/Larsseit Regular/@font-face/1a0f9c82ae37cc35dc3c8e6c81ea95a4.eot"); /* IE9*/
  src: url("/assets/font/Larsseit Regular/@font-face/1a0f9c82ae37cc35dc3c8e6c81ea95a4.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/assets/font/Larsseit Regular/@font-face/1a0f9c82ae37cc35dc3c8e6c81ea95a4.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("/assets/font/Larsseit Regular/@font-face/1a0f9c82ae37cc35dc3c8e6c81ea95a4.woff")
      format("woff"),
    /* chrome、firefox */
      url("/assets/font/Larsseit Regular/@font-face/1a0f9c82ae37cc35dc3c8e6c81ea95a4.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("/assets/font/Larsseit Regular/@font-face/1a0f9c82ae37cc35dc3c8e6c81ea95a4.svg#Larsseit Regular")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Larsseit-Bold";
  src: url("/assets/font/Larsseit-Bold/@font-face/f4c9951744c0ef14010218fc1b2f7938.eot"); /* IE9*/
  src: url("/assets/font/Larsseit-Bold/@font-face/f4c9951744c0ef14010218fc1b2f7938.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/assets/font/Larsseit-Bold/@font-face/f4c9951744c0ef14010218fc1b2f7938.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("/assets/font/Larsseit-Bold/@font-face/f4c9951744c0ef14010218fc1b2f7938.woff")
      format("woff"),
    /* chrome、firefox */
      url("/assets/font/Larsseit-Bold/@font-face/f4c9951744c0ef14010218fc1b2f7938.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("/assets/font/Larsseit-Bold/@font-face/f4c9951744c0ef14010218fc1b2f7938.svg#Larsseit-Bold")
      format("svg"); /* iOS 4.1- */
}

$brand-color: #dd1b32;
$brand-color-1: #ffffff;
$brand-color-2: #d7ba6f;
$brand-color-3: #b49b5b;
$brand-color-4: #f28baf;
$brand-color-5: #ff689d;
$brand-color-6: #000000;
$brand-color-7: #000000;
$brand-color-8: #000000;

$error-color: #55000a;
$sucess-color: #d7ba6f;
$font-color: #ffffff;

$brand-font-family: "Larsseit Regular";
$brand-font-family-1: "Larsseit-Bold";
$brand-font-family-2: "Larsseit-Bold";
$brand-font-family-3: "Larsseit-Bold";
$brand-font-family-4: "Larsseit-Bold";
$brand-font-family-5: "Larsseit-Bold";
$brand-font-family-6: "Larsseit-Bold";
$brand-font-family-7: "Larsseit-Bold";
$brand-font-family-8: "Larsseit-Bold";

$white: #ffffff;
$black: #000000;
$form-border: #000000;
$marginscreenalignment: auto; //auto| 0(zero) if need center use auto or if need left use 0;
$textalignment: center; //need center|left|right alignment in all places
$btn_radius: 15px; //52px; //need btn in square use 0|need btn in rounded corner use 52px
$primarybtn: $brand-color-2;
$primarybtn-color: $brand-color;
$primarybtnop: $brand-color-3;
$primarybtnop-color: $brand-color;
$secondarybtn: $brand-color-4;
$secondarybtn-color: $brand-color-1;
$secondarybtnop: $brand-color-4;
$secondarybtnop-color: $brand-color-1;
//dot-animation colors
$dot1: #be6b66;
$dot2: #03312d;
$dot3: #f5941d;
$dot4: #ffffff;
$statusbg: $brand-color;
$image-1: "/assets/img/status-page-icons/details-inactive.png";
$image-2: "/assets/img/status-page-icons/spend-inactive.png";
$image-3: "/assets/img/status-page-icons/reveal-inactive.png";
$image-4: "/assets/img/status-page-icons/reveal-inactive.png";
$status-color: #ffffff;
$activeimage-1: "/assets/img/status-page-icons/details-active.png";
$activeimage-2: "/assets/img/status-page-icons/spend-active.png";
$activeimage-3: "/assets/img/status-page-icons/reveal-active.png";
$activeimage-4: "/assets/img/status-page-icons/reveal-active.png";
$status-active-color: #ab9b4e;

$desktop: 1200px; //Desktop screen size.
$pc: 992px; // PC screen size.
$tablet: 768px; // Tablet screen size.
$phone: 576px; // Phone screen size.
$smp: 320px; //Small phone screen size.

@mixin responsive($media) {
  @if $media==desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  } @else if $media==pc {
    @media only screen and (max-width: $pc) {
      @content;
    }
  } @else if $media==tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  } @else if $media==phone {
    @media only screen and (max-width: $phone) {
      @content;
    }
  } @else if $media==smp {
    @media only screen and (max-width: $smp) {
      @content;
    }
  }
}
