<div class="multiple-unique-code-page">
  <!-- <div class="coin-anim">
        <div class="coin2" style="left:10%;">
          <img class="move-down-slow" src="../../../assets/img/coins/coinsmall.gif" alt="">
        </div>
        <div class="coin1" style="left:20%;">
          <img class="move-down-mid" src="../../../assets/img/coins/CoinB_small.gif" alt="">
        </div>
        <div class="coin2" style="left:30%;">
          <img class="move-down-slow1" src="../../../assets/img/coins/CoinB_medium.gif" alt="">
        </div>
        <div class="coin2" style="left:40%;">
          <img class="move-down-slow2" src="../../../assets/img/coins/CoinB_medium.gif" alt="">
        </div>
        <div class="coin3 float-right" style="left:70%;">
          <img class="move-down" src="../../../assets/img/coins/CoinC_small.gif" alt="">
        </div>
        <div class="coin2" style="left:90%;">
          <img class="move-down-slow3" src="../../../assets/img/coins/CoinB_medium.gif" alt="">
        </div>
      </div> -->
  <!-- <div class="cloud-anim">
        <div class="cloud1 desktop" data-type="cloudtype7" style="top: 4%;" data-speed="1"></div> -->
  <!-- <div class="cloud" data-type="cloudtype2" style="top: 35%;" data-speed="2"></div> -->
  <!-- <div class="cloud desktop" data-type="cloudtype1" style="top: 45%;" data-speed="3"></div>
        <div class="cloud desktop" data-type="cloudtype3" style="top: 52%;" data-speed="4"></div>
        <div class="cloud2 desktop" data-type="cloudtype5" style="top: 6%;" data-speed="5"></div> -->
  <!-- <div class="cloud2 desktop" data-type="cloudtype4" style="top: 9%;" data-speed="6"></div> -->
  <!-- <div class="cloud1" data-type="cloudtype6" style="top: 25%;" data-speed="7"></div> -->
  <!-- <div class="cloud3 desktop" data-type="cloudtype8" style="top: 59%;" data-speed="8"></div>
      </div> -->
  <!-- <div class="app-content-wrapper m0">
      </div> -->

  <section class="container" *ngIf="!showSpentInput && !confirmAnotherCode">
    <!-- <div class="divider-top-space"></div> -->
    <div class="enter-code-container z-i5">
      <div class="row text-left" *ngIf="multipleCode">
        <div class="col-12">
          <button
            class="primarybtn btn4 brd-rad text-left"
            (click)="goBacktoConfirmation()"
          >
            < Go Back
          </button>
        </div>
      </div>
      <!-- <div class="enter-code-img">
              <div class="row">
                <div class="col-12">
                  <img src="../../assets/img/enter-code-header.png" alt="enter-code-header" class="img-responsive">
                </div>
              </div>
            </div> -->
      <div class="row">
        <div class="col-12">
          <div class="enter-code-text">
            Enter the 5 digit code that appears on your game card for your
            chance to win.
            <!-- Enter the lucky code in the number plate
                <br>below to see if you are a winner! -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="nom-text">
            Don’t have a game card? Take your receipts to Customer Service and
            collect your game card to enter.
            <!-- <small>${{ minispend }} -->
            <!-- <a (click)="openModal(participat)">participating centre</a>. -->
            <!-- </small> -->
          </div>
        </div>
      </div>
      <div class="code-container">
        <div class="row" *ngIf="errorMsg.message">
          <div class="col-12">
            <div class="error-text">
              {{ errorMsg.message }}
            </div>
          </div>
        </div>
        <div class="uniqueform-container">
          <div class="row">
            <div class="col-12">
              <div class="unique-box">
                <!-- <div class="unique-text">
                      YOUR UNIQUE CODE
                    </div> -->
                <div class="code-pad">
                  <div class="code-pad-item">
                    <input
                      type="text"
                      id="code1"
                      [(ngModel)]="code1"
                      (keyup)="onKeyUp($event)"
                      maxlength="5"
                      size="5"
                      appAutoFocus
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 textalignment">
              <button
                class="primarybtn btn1 text-center"
                (click)="onEnterCode()"
                (keyup)="onKeyUp($event)"
                [disabled]="buttonDisabled"
              >
                <img
                  src="../../assets/img/loadingWheel.gif"
                  alt=""
                  [ngClass]="loadingStyle"
                />
                <!-- <span class="loading" [ngClass]="loadingStyle"></span> -->
                NEXT
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 m0">
          <div class="float-right close-home up-mb"> -->
      <!-- <a href="/home" title="back to home"><img class="img-reponsive" src="../../assets/img/Close-Button.png" alt=""></a> -->
      <!-- <button type="submit" (click)="backHome()">
                  <img class="img-reponsive" src="../../assets/img/Close-Button.png" alt="">
                </button> -->
      <!-- <input type="image" src="../../assets/img/Close-Button.png" alt="Back to Home" (click)="backHome()"
              width="50"> -->
      <!-- </div>
        </div> -->
    </div>
    <div class="divider-bottom-space"></div>
  </section>
  <section class="container mtb2" *ngIf="!showSpentInput && confirmAnotherCode">
    <!-- <div class="divider-top-space"></div> -->
    <div class="enter-code-confirmation-container z-i5">
      <div class="code-confirmation-container">
        <div class="row">
          <div class="col-12">
            <div class="enter-code-text">
              Do you have another game card to enter?
            </div>
          </div>
        </div>
        <div class="row"></div>
        <div class="uniqueform-container">
          <div class="row">
            <div class="col-12">
              <div class="unique-box-img">
                <img src="../../assets/img/carboot/twocarplate.png" alt="" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 textalignment">
              <button
                class="fourthbtn btn3 btn-sm text-center"
                (click)="onceAgainEnterCode()"
                (keyup)="onKeyUp($event)"
                [disabled]="buttonDisabled"
              >
                <img
                  src="../../assets/img/loadingWheel.gif"
                  alt=""
                  [ngClass]="loadingStyle"
                />
                YES
              </button>
            </div>
            <div class="col-6 textalignment">
              <button
                class="fourthbtn btn3 btn-sm text-center"
                (click)="goToSpent()"
                (keyup)="onKeyUp($event)"
                [disabled]="buttonDisabled"
              >
                <img
                  src="../../assets/img/loadingWheel.gif"
                  alt=""
                  [ngClass]="loadingStyle"
                />
                NO
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 m0">
        <div class="float-right close-home up-mb">
          <input type="image" src="../../assets/img/Close-Button.png" alt="Back to Home" (click)="backHome()"
            width="50">
        </div>
      </div> -->
    <div class="divider-bottom-space"></div>
  </section>

  <section class="container" *ngIf="showSpentInput && !confirmAnotherCode">
    <div class="spent-form-container z-i5">
      <!-- <div class="row">
          <div class="col-12 textalignment plus">
            <img src="../../assets/img/logo.png" alt="">
          </div>
        </div> -->
      <div class="row">
        <div class="col-12 textalignment">
          <div class="title">Almost Done.</div>
        </div>
      </div>
      <div class="row" *ngIf="needStoreName">
        <div class="col-12 textalignment">
          <div class="subtitle">
            Please answer the final questions below. A minimum of $20 spend is
            required in a single day across a maximum of 4 receipts.
          </div>
        </div>
        <!-- <div class="col-12 textalignment">
            <div class="subtitle">
              A minimum spend of $150 is required. Shop in-centre at any <a (click)="openModal(participat)"
                class="footer-tnc-link">
                participating stores.</a>
              <br>
              Please retain receipts. All receipts must be dated between 16 September and 17 October 2021.
            </div>
          </div> -->
        <!-- <div class="col-12 textalignment">
            <div class="subtitle"> -->
        <!-- All purchases must be made on the same day within the promotional period. -->
        <!-- Entries with combined purchases, must be made on the same day within the promotional period.
            </div>
          </div>
           -->
      </div>

      <div class="row" *ngIf="!needStoreName">
        <div class="col-12 textalignment">
          <div class="subtitle">
            <strong
              >Thanks for making a purchase at {{ this.outletName }}.
            </strong>
            <!-- at {{ this.centreName }}  -->
            <br /><br />
            Please answer the final question to be entered into the draw.
          </div>
        </div>
      </div>
      <div class="row mb-3" *ngIf="errorMsg.message">
        <div class="col-12">
          <div class="error-text">
            {{ errorMsg.message }}
          </div>
        </div>
      </div>
      <form
        action=""
        class="form-horizontal"
        [formGroup]="spentForm"
        autocomplete="off"
      >
        <!-- <div class="retailer-item enter-step1">
            <div class="retailer-item-date">
              <div class="row">
                <div class="col-12" [ngClass]="purchaseDateStyle">
                  <label class="control-label register-label">*Receipt Date:</label>
                  <input *ngIf="!isMobile" type="text" class="form-control" [minDate]="minDate"
                    [maxDate]="maxDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false,todayHighligh:true}"
                    #dp="bsDatepicker" bsDatepicker formControlName="purchaseDate"
                    placeholder="dd/mm/yyyy" autocomplete="off" required
                    (ngModelChange)="onChangePurcharse($event)">
                  <input *ngIf="isMobile" type="date" class="form-control" formControlName="purchaseDate"
                    placeholder="dd/mm/yyyydd" autocomplete="off" required
                    (ngModelChange)="onChangePurcharse($event)">
                </div>
                <br>
              </div>
            </div>
            <br>
          </div> -->

        <!-- purchaseDate =
        {{
          this.spentForm.controls.spentretailer.value[0].purchaseDate
            | date: "dd/MM/yy"
        }} -->
        <div
          class="enter-step2"
          formArrayName="spentretailer"
          *ngIf="showFormMultipleUniqueCode"
        >
          <div
            class="retailer-item"
            *ngFor="
              let item of spentForm.controls.spentretailer.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="retailer-item-label" id="retailer-item-label-{{ i }}">
              <div class="row">
                <div class="col-9 col-lg-10">
                  <div class="row">
                    <div class="col-4">{{ item.controls.store.value }}</div>
                    <div class="col-4">${{ item.controls.spend.value }}</div>
                    <div class="col-4">
                      {{ item.controls.purchaseDate.value | date: "dd/MM/yy" }}
                    </div>
                  </div>
                </div>
                <div
                  class="
                    col-3 col-lg-2
                    d-flex
                    align-items-center
                    justify-content-end
                  "
                >
                  <button class="btn-remove-retailer" (click)="removeItem(i)">
                    remove
                  </button>
                </div>
              </div>
            </div>

            <div class="retailer-item-input" id="retailer-item-input-{{ i }}">
              <div class="row">
                <div class="col-9 col-md-10">
                  <div class="row">
                    <div
                      class="col-12"
                      [ngClass]="storeStyles[i]"
                      *ngIf="needStoreName"
                    >
                      <label class="control-label register-label mt-1 mt-md-0"
                        >*Store where the purchase was made.
                      </label>

                      <!-- <select class="form-control" formControlName="store">
                          <option disabled selected value>Select retailer</option>
                          <option *ngFor="let retailer of retailersOfSelectedCenter"
                            [value]="retailer.id">{{retailer.name}}
                          </option>
                        </select> -->

                      <section class="filter-wrapper">
                        <div class="keyword-wrapper">
                          <!-- <input type="text" class="form-control" formControlName="storeid"> -->
                          <input
                            value="05/11/2021"
                            type="text"
                            class="form-control"
                            formControlName="store"
                            placeholder="Enter retailer"
                            autocomplete="off"
                            (keyup)="getStores($event, i)"
                            required
                            appAutoFocus
                          />
                          <!-- (focus)="displayblock()"  -->
                          <!-- <ul class="filter-select" [ngClass]="displayStyle"> -->
                          <ul
                            class="filter-select"
                            *ngIf="showStoreByKey == i && refStores.length > 0"
                          >
                            <li
                              *ngFor="let store of refStores"
                              class="filter-select-list"
                            >
                              <button
                                class="tags"
                                (click)="
                                  fill(i, store.outlet_id, store.outlet_name)
                                "
                              >
                                {{ store.outlet_name }}
                              </button>
                            </li>
                          </ul>
                        </div>
                      </section>
                    </div>

                    <div class="col-12" [ngClass]="purchaseDateStyle">
                      <label class="control-label register-label"
                        >*Receipt Date:</label
                      >
                      <div class="input-calendar" *ngIf="!isMobile">
                        <input
                          type="text"
                          class="form-control"
                          [minDate]="minDate"
                          [maxDate]="maxDate"
                          [bsConfig]="{
                            dateInputFormat: 'DD/MM/YYYY',
                            showWeekNumbers: false,
                            todayHighligh: true
                          }"
                          #dp="bsDatepicker"
                          bsDatepicker
                          formControlName="purchaseDate"
                          placeholder="dd/mm/yyyy"
                          autocomplete="off"
                          [dateCustomClasses]="dateCustomClasses"
                        />
                        <label for="input-calendar">
                          <img
                            src="../../assets/img/icon-calendar.png"
                            class="img-fluid"
                            (click)="dp.toggle()"
                            [attr.aria-expanded]="dp.isOpen"
                          />
                        </label>
                      </div>
                      <div class="input-calendar-mobile" *ngIf="isMobile">
                        <input
                          type="date"
                          min="{{ minDate | date: 'yyyy-MM-dd' }}"
                          max="{{ maxDate | date: 'yyyy-MM-dd' }}"
                          class="form-control"
                          formControlName="purchaseDate"
                          placeholder="dd/mm/yyyy"
                          autocomplete="off"
                        />
                        <label for="input-calendar-mobile">
                          <img
                            src="../../assets/img/icon-calendar.png"
                            class="img-fluid"
                          />
                        </label>
                      </div>
                    </div>

                    <div class="col-12" [ngClass]="spendStyles[i]">
                      <label class="control-label register-label">
                        *Amount spent:
                        <!-- <small>(Minimum ${{ minispend }} spend. Please retain receipts for proof of purchase.)</small> -->
                        <!-- <br>
                           <small>Minimum $30 spend. Please retain receipts for proof of purchase. <br> Receipts must be shown at Customer Service to claim your instant prize.</small> -->
                      </label>
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input
                          type="number"
                          class="form-control"
                          formControlName="spend"
                          placeholder=""
                          autocomplete="off"
                          onkeyup="if (/^(\d+\.\d{2})\d+$/g.test(this.value)) this.value = this.value.replace(/^(\d+\.\d{2})\d+$/g,'')"
                        />
                      </div>

                      <!-- <select class="form-control" formControlName="spend">
                             <option disabled selected value>Please select</option>
                             <option value="< $5">< $5</option>
                             <option value="$5 - $10">$5 - $10</option>
                             <option value="$10 - $15">$10 - $15</option>
                             <option value="> $15"> > $15</option>
                          </select> -->
                    </div>

                    <br />

                    <!-- <div class="col-12">
                         <small>
                          A minimum spend of $35 in Centre is required for entry. One entry per
                          customer, per day.
                         </small>
                      </div> -->
                  </div>
                </div>
                <div
                  *ngIf="i > 0"
                  class="
                    col-3 col-md-2
                    d-flex
                    align-items-center
                    justify-content-end
                  "
                >
                  <button class="btn-remove-retailer" (click)="removeItem(i)">
                    remove
                  </button>
                </div>
              </div>
            </div>

            <br />
          </div>
        </div>

        <div class="row enter-step2">
          <div class="col-12 text-center">
            <button
              type="submit"
              class="secondarybtn btn5"
              [disabled]="buttonDisabled"
              (click)="addItems()"
            >
              + ANOTHER SPEND
            </button>
          </div>
          <!-- <div class="col-12 text-center">
              <button type="submit" class="secondarybtn btn5" [disabled]="buttonDisabled"
                (click)="removeItems()">+
                REMOVE RECEIPT</button>
            </div> -->
        </div>

        <div class="row enter-step2">
          <div class="col-12 textalignment">
            <button
              type="submit"
              class="primarybtn btn1"
              [disabled]="buttonDisabled"
              (click)="onSpent(this.campaignCenterService.email)"
            >
              <!-- (this.campaignCenterService.email)" -->
              <img
                src="../../assets/img/loadingWheel.gif"
                alt=""
                [ngClass]="loadingStyle"
              />
              <!-- <span class="loading" [ngClass]="loadingStyle"></span> -->
              ENTER
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="col-12">
        <div class="float-right close-home up-mb"> -->
    <!-- <a href="/home" title="back to home"><img class="img-reponsive" src="../../assets/img/Close-Button.png" alt=""></a> -->
    <!-- <button type="submit" (click)="backHome()">
                <img class="img-reponsive" src="../../assets/img/Close-Button.png" alt="">
              </button> -->
    <!-- <input type="image" src="../../assets/img/Close-Button.png" alt="Back to Home" (click)="backHome()"
            width="50"> -->
    <!-- </div>
      </div> -->

    <div class="divider-bottom-space"></div>
  </section>
  <ng-template #templateInvalidCode>
    <div class="modal-header modal-header-customize">
      <button
        type="button"
        class="close float-right close-bigsize"
        aria-label="Close"
        (click)="modalRef.hide()"
        [disabled]="submitted"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <br /><br />
    </div>
    <div class="modal-body modal-body-large-text">
      <div class="oops">OOPS!</div>
      <br />
      <div>
        Looks like you have
        <br />
        entered an invalid code.
        <br />
        <br />
        <small> Please try another code. </small>
        <br />
      </div>
    </div>
  </ng-template>

  <ng-template #customError>
    <div class="modal-header">
      <button
        type="button"
        class="close float-right"
        aria-label="Close"
        (click)="modalRef.hide()"
        [disabled]="submitted"
      >
        <img src="../../assets/img/close-modal.png" class="modal-close" />
      </button>
    </div>
    <div class="modal-body modal-alert">
      <div class="oops">Oops...</div>
      <div class="mt-4">
        <small
          >A minimum spend of ${{ minispend }} is required for this
          promotion.</small
        >
      </div>
    </div>
  </ng-template>

  <ng-template #customError1>
    <div class="modal-header">
      <button
        type="button"
        class="close float-right"
        aria-label="Close"
        (click)="modalRef.hide()"
        [disabled]="submitted"
      >
        <img src="../../assets/img/close-modal.png" class="modal-close" />
      </button>
    </div>
    <div class="modal-body modal-alert">
      <div class="oops">Oops...</div>
      <div class="mt-4">
        <small
          >Your spend looks rather high, please enter the correct spend and
          retain your receipt to claim your prize. Spend must not exceed
          $9,999.</small
        >
      </div>
    </div>
  </ng-template>

  <ng-template #memberNotFound>
    <div class="modal-header">
      <button
        type="button"
        class="close float-right"
        aria-label="Close"
        (click)="closeModalToHome()"
        [disabled]="submitted"
      >
        <img src="../../assets/img/close-modal.png" class="modal-close" />
      </button>
    </div>
    <div class="modal-body modal-alert">
      <div class="oops">Oops...</div>
      <div class="mt-4">
        <small>Something went wrong! try again.</small>
      </div>
    </div>
  </ng-template>
  <ng-template #templateAlreadyEntered>
    <div class="modal-header">
      <button
        type="button"
        class="close float-right"
        aria-label="Close"
        (click)="closeModalToHome()"
      >
        <img src="../../assets/img/close-modal.png" class="modal-close" />
      </button>
    </div>
    <div class="modal-body modal-alert">
      <div class="oops">Oops...</div>
      <div class="mt-4">
        <small
          >Looks like you have already claimed a prize today. Please come back
          tomorrow.</small
        >
      </div>
    </div>
  </ng-template>
  <ng-template #templateDuplicateValuesEntered>
    <div class="modal-header modal-header-customize">
      <button
        type="button"
        class="close float-right close-bigsize"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <br /><br />
    </div>
    <div class="modal-body modal-body-large-text">
      <div class="oops">Oops...</div>
      It looks like this receipt has been used before, <br />
      please update one of the fields to proceed or enter a new spend.
      <!-- Looks like the email or phone number you have entered has been used today. -->
      <!-- It looks like the email and telephone number you have used don’t match. -->
    </div>
  </ng-template>
  <ng-template #serverErrorCode>
    <div class="modal-header">
      <button
        type="button"
        class="close float-right"
        aria-label="Close"
        (click)="closeModalToHome()"
        [disabled]="submitted"
      >
        <img src="../../assets/img/close-modal.png" class="modal-close" />
      </button>
    </div>
    <div class="modal-body modal-alert">
      <div class="oops">Oops...</div>
      <div class="mt-4">
        <small>Something went wrong! try again.</small>
      </div>
    </div>
  </ng-template>

  <ng-template #templateEntryInvalid>
    <div class="modal-header modal-header-customize">
      <button
        type="button"
        class="close float-right close-bigsize"
        aria-label="Close"
        (click)="modalRef.hide()"
        [disabled]="submitted"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <br /><br />
    </div>
    <div class="modal-body modal-body-large-text">
      <div class="oops">OOPS!</div>
      <br />
      <div>
        Looks like you have
        <br />
        entered an Invalid entry
        <br />
        <br />
        <br />
      </div>
    </div>
  </ng-template>
</div>

<ng-template #participat>
  <div class="modal-header modal-participating">
    <div class="row">
      <!-- <div class="col-12">
        <img src="../../assets/img/logo.png" class="modal-logo" alt="">
      </div> -->
      <div class="col-12 mb10"></div>
      <div class="col-12">
        <u>Participating Retailers</u>
      </div>
    </div>
    <button
      type="button"
      class="close float-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body tc modal-participating">
    <div class="row">
      <!-- <div class="col-12">Entries available at participating stores within any of the following participating
        centres.</div> -->
    </div>
    <br />
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        Ally Fashion <br />
        American Nails & Beauty<br />
        Angus & Coote<br />
        Aspire Massage<br />
        Australian Skin Clinics<br />
        Autograph<br />
        Beauty Stop<br />
        Best & Less<br />
        Big W<br />
        Bliss and Beyond<br />
        Bonds<br />
        Bras N Things<br />
        Camilla<br />
        Charcoal<br />
        City Beach<br />
        City Chic<br />
        Clearskin Clinics<br />
        Colette by Colette Hayman<br />
        Connor<br />
        Cosmetics Plus<br />
        Cotton On Body<br />
        Cotton On Kids<br />
        Cotton On Mega<br />
        Country Road<br />
        Cue<br />
        Dangerfield<br />
        David Jones<br />
        Decjuba<br />
        Dissh<br />
        Doll Face<br />
        Dotti<br />
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        Elegant Beauty & Brows<br />
        Elegant Eyebrows<br />
        Eva & Frankie<br />
        Famous Footwear<br />
        Fast Times<br />
        Florsheim<br />
        Footlocker<br />
        Footmaster<br />
        Forever New<br />
        French Connection<br />
        Gaz Man<br />
        General Pants<br />
        Ghanda Clothing<br />
        Gingham and Heels<br />
        Glamour Nails<br />
        Glassons<br />
        Goldmark<br />
        Guess<br />
        H&M<br />
        Hairhouse<br />
        Honey Birdette<br />
        Hype DC<br />
        iKandi Sunglasses<br />
        Issue 1<br />
        Jacqui E<br />
        Jade Nails<br />
        Jay Jays<br />
        Jimmy Rods Barbershop<br />
        Johnny Bigg<br />
        Just Cuts<br />
        Just Jeans<br />
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        Kathmandu<br />
        Katies<br />
        Kmart<br />
        Kookai<br />
        L'Occitane<br />
        Laser Skin Clinics<br />
        Le Gassick Collections<br />
        Lorna Jane<br />
        Lovisa<br />
        Lowes<br />
        Lush Fresh Handmade Cosmetics<br />
        Massage Aroma<br />
        Massage Indulgence Spa<br />
        Mathers<br />
        Mecca<br />
        Michael Hill<br />
        Millers<br />
        Mimco<br />
        Myer<br />
        Napoleon Perdis<br />
        Neverland<br />
        Nike Store<br />
        Nine West<br />
        Noni B<br />
        Novo<br />
        Oakley<br />
        Oscar Oscar<br />
        Pandora<br />
        Paradise Massage<br />
        Peter Alexander<br />
        Peter Jackson<br />
        Platypus Shoes<br />
        Politix<br />
        Portmans<br />
        Price Attack<br />
        Priceline Pharmacy<br />
        Prouds<br />
        Pure Indulgence<br />
        Queen Bees Nails & Spa<br />
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        Salon Express & Barbershop Express<br />
        Scotch & Soda<br />
        Seafolly<br />
        Secrets Shhh<br />
        Seed<br />
        Sephora<br />
        Shaver Shop<br />
        Sheike<br />
        Silvershop<br />
        Skechers<br />
        Skin Kandy<br />
        Spendless Shoes<br />
        Sportscraft<br />
        Sportsgirl<br />
        Statesides Sports<br />
        Stefan<br />
        Steve Madden<br />
        Strandbags<br />
        Stylerunner<br />
        Sunglass Hut<br />
        Supre<br />
        Sussan<br />
        Suzanne Grae<br />
        Swarovski<br />
        Taking Shape<br />
        Target<br />
        Tarocash<br />
        Terry White Chemists<br />
        The Athlete's Foot<br />
        The Body Shop<br />
        The Hat Store<br />
        Thomas Sabo<br />
        Tree of Life<br />
        Universal Store<br />
        Valleygirl<br />
        Veronika Maine<br />
        W Lane<br />
        Wallace Bishop<br />
        Wax It<br />
        Why Mary<br />
        Widsor Smith<br />
        Williams<br />
        Witchery<br />
        YD
      </div>
    </div>
  </div>
</ng-template>
<!-- <div class="ribbon">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <strong>Don’t have an entry form?</strong> Collect one when you make a purchase at any
            <a (click)="openModal(participat)">participating store</a>.
          </div>
        </div>
      </div>
    </div> -->
